In [4]:
import sqlite3

connection = sqlite3.connect('first.db')
connection

In [6]:
cursor = connection.cursor()

In [7]:
#creating a table using the same object

cursor.execute('''
                Create Table if not Exists employees (
                    id Integer Primary key, 
                    name Text Not Null, 
                    age Integer, 
                    department Text
                )''')

#commit the changes
connection.commit()

In [11]:
cursor.execute('''
               Select * from employees''')

In [15]:
#Inserting some data into a sqlite3 database


cursor.execute('''
                Insert into employees(name, age, department) 
                values('Yashita', 20, 'DevOps'
                )''')

cursor.execute('''
                Insert into employees(name, age, department) 
                values('Freya', 21, 'Masseuse'
                )''')

cursor.execute('''Insert into employees(name, age, department) 
                values('Anston', 20, 'SDE'
                )''')

#Commit after every insertion
connection.commit()

In [17]:
#Querying any data

cursor.execute('''
               Select * from employees
               ''')

rows = cursor.fetchall() #fetchall is a command that we use to get all the records from the select * command

#Printing the queried data

for row in rows:
    print(row)

(1, 'Yashita', 20, 'DevOps')
(2, 'Freya', 21, 'Masseuse')
(3, 'Anston', 20, 'SDE')

In [22]:
#Updating the data in the table

cursor.execute('''
               Update employees 
               Set age = 9 Where name ="Freya"
               ''')

connection.commit()

In [23]:
cursor.execute('''
              Select * from employees''')

rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Yashita', 20, 'DevOps')
(2, 'Freya', 9, 'Masseuse')
(3, 'Anston', 20, 'SDE')

In [25]:
#Delete the data from the table

cursor.execute(''' 
               Delete from employees 
               Where name = 'Freya' 
               ''')

connection.commit()

In [26]:
cursor.execute('''
              Select * from employees''')

rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Yashita', 20, 'DevOps')
(3, 'Anston', 20, 'SDE')

In [27]:
#Working with sales data

connection1 = sqlite3.connect('sales.db')
connection1

In [31]:
cursor = connection1.cursor()

#create table
cursor.execute(''' 
               CREATE TABLE IF NOT EXISTS sales(
                   id INTEGER PRIMARY KEY,
                   date Text NOT NULL,
                   product TEXT NOT NULL,
                   sales INTEGER,
                   region TEXT)''')

sales_data = [
    ('2023-01-01', 'Product1', 100, 'North'),
    ('2023-01-02', 'Product2', 200, 'South'),
    ('2023-01-03', 'Product1', 150, 'East'),
    ('2023-01-04', 'Product3', 250, 'West'),
    ('2023-01-05', 'Product2', 300, 'North')
]

connection1.commit()

In [32]:
#inserting bulk data into the table

cursor.executemany('''
                   Insert into sales(date, product, sales, region)
                   values(?,?,?,?) 
                   ''', sales_data)

connection1.commit()

In [33]:
cursor.execute(''' Select * from sales''')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 200, 'South')
(3, '2023-01-03', 'Product1', 150, 'East')
(4, '2023-01-04', 'Product3', 250, 'West')
(5, '2023-01-05', 'Product2', 300, 'North')
(6, '2023-01-01', 'Product1', 100, 'North')
(7, '2023-01-02', 'Product2', 200, 'South')
(8, '2023-01-03', 'Product1', 150, 'East')
(9, '2023-01-04', 'Product3', 250, 'West')
(10, '2023-01-05', 'Product2', 300, 'North')

In [ ]:
#closing the connection

connection1.close()
#once this command is run, there is no connection to the database. any other execute commands will fail for work